.head{
    background-color:#373d48; 
    color: aliceblue;
    
}
.mavinci{
    padding-left: 190px;

}
.english{
    padding-left: 190px;
    color: #828a98;
}
.last{
    padding-left: 190px;
    color: #828a98;
}